<div class="project-details">jjjj
  <div class="project-details-header-top">
    <div>
      <matbea-icon-button icon="matbea-print"></matbea-icon-button>
      <matbea-icon-button icon="equalizer"></matbea-icon-button>
    </div>
    <matbea-details-steper [steps]="steps"></matbea-details-steper>
  </div>
  <matbea-project-details-header></matbea-project-details-header>
<div class ='project-details-content'>

  <matbea-project-basic-details-container [kodMutav]="kodMutavBeShovar"
                                          [misparProject]="misparProyectSagur"></matbea-project-basic-details-container>

<matbea-shlavim-container [misparProyectSagur]="misparProyectSagur"></matbea-shlavim-container>
  <matbea-cheshbonot-container [misparProyectSagur]="misparProyectSagur" misparBank="12"></matbea-cheshbonot-container>

  <matbea-amalot-container [projectId]="id"></matbea-amalot-container>


  <matbea-kablanim-container [projectId]="id"></matbea-kablanim-container>


  <matbea-mashkanta-container [projectId]="id"></matbea-mashkanta-container>

</div>
</div>
