
@import 'libs/matbea-ui-components/assets/variables.scss';
::ng-deep .hazmanat-pinkasim-container {
  .matbea-hazmanat-pinkasim-container{
    height:100%;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
::ng-deep .mat-dialog-container {
  padding: 0px;
  border-radius: 5px;
}
.dialog-title {
  .mat-dialog-title {
    font-weight: normal;
  }
  display: flex;
  border-radius: 5px;
  background: rgb(245, 242, 242);
  padding-right: 12px;
  height: 40px;
  grid-gap: 10px;
  vertical-align: middle;
}
.dialog-content {
  height: 60%;
}

.dialog-footer {
  padding: 5px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid $unnamed-color-e3e3e3;
  align-items: center;
}

.success-footer {
  justify-content: flex-end;
}


.project-details-header {
  height: 100%;
  display: grid;
  grid-template-rows: 2em auto;
  grid-template-columns: auto 40px;

  .project-details-header-lable {
    grid-column: 1/2;
    grid-row: 1;
  }

  .project-details-header-nitunim {
    grid-column: 1/2;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
  }

  .project-details-header-setor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    min-height: 4em;
    // min-height: ;
    margin: 0 2em;

    &:first-of-type {
      margin-right: 0;
    }
  }
}

.section-lable {
  span {
    font-family: 'Assistant Light', 'Assistant Regular', 'Assistant', sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: right;
    line-height: normal;
    font-size: initial;
    margin: 15px;
  }
}
.units-table {
  padding: 20px 0px !important;
  height: 200px;
  .table-wrapper {
    height: 90%;
    ::ng-deep .matbea-table-cotainer {
      height: 100%;
    }
  }
}

.pinkasim-section {
  background-color: $matbea-base-background-color;
  padding: 20px;
  border-radius: 10px;
  border: 0.1px $unnamed-color-e3e3e3 solid;
  margin: 10px;
  margin-top: 30px;
}

.sendind-select {
  border: none;
  border-top: 0.5px solid $unnamed-color-e3e3e3;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.success-content {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
  font-size: x-large;
  font-weight: bold;
  align-items: center;
}
  .success-title {
    justify-content: space-evenly;
  }