.comboStatusProject{mat-form-field.mat-form-field.mat-form-field-infix {
  
    background-color: red !important;
    border: 0px;}
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      height: 3px;}
  }