<div class="dialog-title">
    <h1 mat-dialog-title >הוספת חשבון לפרויקט</h1>
</div>

<!--div *ngIf="bealimLeCheshbonList == null"-->
    <div class="rowCell noWrap horizontalLayout ">
        
<!--      <mat-form-field class="noPadding rowCell15">
            <mat-label>סניף</mat-label>
            <input matInput  type="number"  (change)="misparSnif=$event.target.value" [value]="misparSnif" onKeyPress="if(this.value.length==3) return false;" [disabled]="bealimLeCheshbonList!=null" required/>            
        </mat-form-field>-->
        <span  class="horizontalLayout rowCell25">
            <matbea-input lable="סניף" lablePosition="top" [(value)]="misparSnif" type="number"  onKeyPress="if(this.value.length==3) return false;" [disabled]="bealimLeCheshbonList!=null" maxlength="3"  required ></matbea-input>
        </span>

        <span class="spanSeperator rowCell10"></span>

    
        <!--<mat-form-field class="noPadding rowCell15" >  
            <mat-label>חשבון</mat-label>
            <input matInput type="number"  (change)="misparCheshbon=$event.target.value" [value]="misparCheshbon" onKeyPress="if(this.value.length==6) return false;"  [disabled]="bealimLeCheshbonList!=null" required/>            
        </mat-form-field>-->

        <span  class="horizontalLayout rowCell25">
            <matbea-input lable="חשבון" lablePosition="top" [(value)]="misparCheshbon" type="number"  onKeyPress="if(this.value.length==6) return false;" [disabled]="bealimLeCheshbonList!=null" maxlength="6"  required ></matbea-input>
        </span>

        <span class="spanSeperator rowCell10"></span>

        <span class="rowCell25 noWrap"  >
            <matbea-button size='l' (onClick)="getPirteyCheshbon()" textLable="איתור חשבון" [disabled]="bealimLeCheshbonList!=null">איתור חשבון</matbea-button>
        </span>

    </div>

    <div *ngIf="bealimLeCheshbonList == null" class="rowCell">
        <mat-form-field class="noPadding rowCell70" appearance="none" >  
            <form [formGroup]="cheshbonFormGroup">  
                <input matInput type="number" style="display:none;" />
                <mat-error *ngIf="errorMsg!=''" >{{ errorMsg }}</mat-error>
            </form>
        </mat-form-field>
    </div>


    

<!--div-->







<div *ngIf="bealimLeCheshbonList != null">
    <div  class="rowCell bealimLeCheshbonBG bealimLeCheshbonBorder ">   
        <div class="rowCell">    
            <span style="font-weight: bold;">שם החשבון </span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span> {{ pirteyCheshbon.shemCheshbon }} </span>        
        </div>

        <div class="rowCell">    
            <hr/>
        </div>

        <div class="rowCell50">
            <table mat-table class="bealimLeCheshbonBG " [dataSource]="bealimLeCheshbonList" style="overflow: auto; height: 100%; width: 100%;">

                <ng-container matColumnDef="shemLakoachKolel">
                    <th mat-header-cell *matHeaderCellDef>  בעל/ת החשבון </th>
                    <td mat-cell *matCellDef="let element"> {{element.shemLakoachKolel}} </td>
                </ng-container>
            
                <ng-container matColumnDef="misparLakoach">
                    <th mat-header-cell *matHeaderCellDef>  מזהה </th>
                    <td mat-cell *matCellDef="let element"> {{element.misparLakoach}} </td>
                </ng-container>
                
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="rowCell  alignRight"> 
            <div class="rowCell50 alignRight">
                <hr/>
            </div>   
        </div>

        <div class="rowCell">
            <mat-checkbox [value]="chkChatimatBealimBeCheshbon" (change)="selectChatimatBealimBeCheshbon($event.checked)" >
                הבעלים בחשבון חתומים על הסכם הליווי
            </mat-checkbox> 
        </div>
    </div>

    <div class="rowCell noPadding">
        <mat-form-field class="noPadding rowCell50" appearance="none" >  
            <form [formGroup]="cheshbonFormGroup">  
                <input matInput type="number" style="display:none;" />
                <mat-error *ngIf="errorMsg!=''" >{{ errorMsg }}</mat-error>
            </form>
        </mat-form-field>
    </div>


    <div class="rowCell alignLeft">
        <matbea-button size='l' (onClick)="hosafatCheshbon()" textLable="אישור" [disabled]="!chkChatimatBealimBeCheshbon">אישור</matbea-button>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <matbea-button size='l' (onClick)="this.dialogRef.close()" textLable="ביטול">ביטול</matbea-button>
    </div>
   

</div>