<ng-container *ngIf="step">
    <div class="project-details-header"> [ngClass]="class"
    <div class="project-details-header-lable">
      <span class="form-field-lable-light"> {{step.misparProyectSagur}}</span>
    </div>
    <div class="project-details-header-nitunim">

        <div class="project-details-header-setor">
        <span class="form-field-lable-light">שלב</span>
        <span >{{step.teurHaShlav}}</span>
      </div>

      <div class="project-details-header-setor">
        <span class="form-field-lable-light">מספר יחידות</span>
        <span >{{step.misparYechidotBeSlv}}</span>
      </div>

      <div class="project-details-header-setor">
        <span class="form-field-lable-light">ייעוד השלב</span>
        <span >{{step.teurYeudShlav}}</span>
      </div>

      <div class="project-details-header-setor">
        <span class="form-field-lable-light">היתר בנייה</span>
        <span >{{step.metegHeterBniya?'קיים':'לא קיים'}}</span>
      </div>

      <div class="project-details-header-setor">
        <span class="form-field-lable-light">מועד מתן היתר בניה</span>
        <span >{{step.taarich8HeterBniya|pipeName:"int2dateformatter"}}</span>
      </div>

      <div class="project-details-header-setor">
        <span class="form-field-lable-light">מועד סיום צפוי</span>
        <span >{{step.taarich8SiyumTzafui|pipeName:"int2dateformatter"}}</span>
      </div>

      <div class="project-details-header-setor">
        <span class="form-field-lable-light">תוכנית בנין ערים</span>
        <span >{{step.kodMutavBeShovar}}</span>
      </div>

      <div class="project-details-header-setor">
        <span>  <matbea-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" icon="more_vert">וספת יחידות</matbea-icon-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>באופן ידני</span>
            </button>
            <button mat-menu-item (click)="addUnitsAction()">
              <span> כקובץ</span>
            </button>
          </mat-menu>
        </span>
      </div>
</div>
      <!-- <matbea-shmor-shinui-button shkifut="true" (shinui)="onShinui($event)"></matbea-shmor-shinui-button> -->
  </div>
  </ng-container>
  