<ng-container>
    <matbea-slice-data [class]="class" titel="פרטים בסיסייים">
      <matbea-slice-data-suffix >
        <matbea-shmor-shinui-button (shinui)="changeBasicDetailsMode($event)"></matbea-shmor-shinui-button>

        <!--<div *ngIf="!basicDetailsEditMode">
          <matbea-button type='stroked' icon='edit' (onClick)="changeBasicDetailsMode()" ></matbea-button>
        </div>
        <div *ngIf="basicDetailsEditMode">
          <matbea-button type='stroked'  (onClick)="saveBasicDetails()" > שמירה </matbea-button>
        </div> -->

      </matbea-slice-data-suffix>

      <matbea-slice-data-content style="width:100%">
        <matbea-project-basic-details [kodMutav]="kodMutav" [misparProject]="misparProject" ></matbea-project-basic-details>
      </matbea-slice-data-content>
    </matbea-slice-data>
  </ng-container>
