<div class="matbea-projects-list-page"><div class="shura-heder">
  <div class="matbea-heder">רשימת פרויקטים</div>
  <div class="hipus-lefi" >
    <matbea-hipus-lefi-pertey-project (toDefault)="toDefaultValue($event)" [status]=status></matbea-hipus-lefi-pertey-project>
   <div style="width: 50px"></div>
    <matbea-create-project-wizard-button style="margin: 0.5em 0em"></matbea-create-project-wizard-button>
  </div>
</div>
<div class="shura-hierarhia">
<matbea-button style="  margin-bottom: 0.5em;" type="matbea-raised" (onClick)="findProjects()" >הצג</matbea-button>
<combo-status-project [options]="valueToSelectStatus"  (selected)="outFromSelectStatus($event)"></combo-status-project>
  <matbea-divider [vertical]='true' style="height: 2em; margin: 0em 0.5em;"></matbea-divider>
  <matbea-hierarchy (fromHierarchia)="fromHierarchia($event)"></matbea-hierarchy>
</div>
<!-- <matbea-divider></matbea-divider> -->
<matbea-buttons-for-table></matbea-buttons-for-table>
<projects-list></projects-list>

</div>
