.shura-heder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  direction: inherit;
  align-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 14%;


}
.matbea-heder{
   font-size: 30px;
   font-weight: bold;
   margin: 0.5em 0em;
  min-width: 205px;
 }
.matbea-projects-list-page{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
 }
 .hipus-lefi{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
 }
 .shura-hierarhia{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  direction: inherit;
  align-content: center;
  align-items: flex-end;
  flex-direction: row-reverse;
   height: 6%;
   min-height: 50px;

 }
@media (max-width: 930px) {
  .shura-hierarhia {
    min-height: 100px;
  }
  .shura-heder{
    min-height: 200px;
  }
  projects-list{
    height: 50%;
  }
}
 projects-list{
   height: 75%;
 }
 matbea-buttons-for-table{
   height: 5%;
   min-height: 40px;
 }
matbea-hipus-lefi-pertey-project{
  min-width: 465px;
}

