.select-wrapper > div {
  margin: 0px 10px;
  .combo {
    width: 100px;
  }
}

.action-bar-container {
  padding: 15px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 26% 66% 4%;
  background-color: #9d9b9b;
  width: 100%;
  color: white;
  justify-content: start;
  grid-template-areas:
  "select action close";
  .select-section {
    grid-area: select;
    display: inline-flex;
    align-content: stretch;
    justify-content: space-between;
    border-left: 0.5px white solid;
    padding-left:20px;
    .selected-number{
      font-size: large;
    }
    .selected-length {
      font-size: x-small;
    }
  }
  .action-section{
    grid-area: action;
    display: inline-flex;
    padding-right: 140px;
    ::ng-deep span{
      font-size: large;
      font-weight: normal;
    }
    
  }
  .close-button {
    grid-area: close;
  }
}

.select-wrapper {
  display: inherit;
}
.flex-container {
  display: inline-flex;
}
.grid-container {
  display: inline-grid;
}
.font-l {
  font-size: large;
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  top: 212px;
}


matbea-icon-button ::ng-deep mat-icon {
  color: white !important;
}
.triangular {
  display: none;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-top: 0;
  border-bottom: 13px solid white;
  position: relative;
  top: -12px;
}
