<ng-container>
  <div class="action-bar-container">
    <div class="select-wrapper action-section" >
      <div>
        <div class="select-range flex-container">
          <span class="combo">
            <matbea-combo
              placeholder="יחידה"
              lable="מ"
              lablePosition="top"
              [options]="toOptions"
              (value)="fromChanged($event.id, rangeTo)"
              [valueToDefoult]="rangeFrom"
            ></matbea-combo>
          </span>
          <span class="combo">
            <matbea-combo
              placeholder="יחידה"
              lable="עד"
              lablePosition="top"
              [options]="fromOptions"
              (value)="fromChanged(rangeFrom, $event.id)"
              [valueToDefoult]="rangeTo"
            ></matbea-combo>
          </span>
        </div>
      </div>
      
      <div class="grid-container">
        <span class="font-l">{{selectedLength}} נבחרו </span>
        <span> ניתן לבחור עד 47 יחידות בטווח</span>
      </div>

    </div>
    <matbea-divider vertical="true"></matbea-divider>
    <div class="actions-wrapper action-section flex-container" >
      <div>
        <span>
          <matbea-button> הזמנת פנקסי שוברים </matbea-button>
        </span>
      </div>
      <matbea-divider vertical="true"></matbea-divider>
      <div>
        <span>
          <matbea-button> טיפול בערבויות </matbea-button>
        </span>
      </div>

      <div>
        <span>
          <matbea-button> עדכון גוש / חלקה / מגרש</matbea-button>
        </span>
      </div>
    </div>
    <div class="x-wrapper action-section">
      <matbea-icon-button
        color="white"
        icon="close"
        (click)="selectedRowsChange.emit([])"
      ></matbea-icon-button>
    </div>
  </div>
</ng-container>
