
<ng-container>
  <!-- <span *ngFor="let i of selectedRows">{{i}},</span> -->
  <div class="action-bar-container">
    <div class="select-section" >

          <span style="width: 100px">
            <matbea-combo
              placeholder=""
              lable="מ"
              lablePosition="start"
              [options]="toOptions"
              (value)="fromChanged($event.id, rangeTo)"
              [valueToDefoult]="rangeFrom"
            ></matbea-combo>
          </span>
          <span style="width: 100px">
            <matbea-combo
              placeholder=""
              lable="עד"
              lablePosition="start"
              [options]="fromOptions"
              (value)="fromChanged(rangeFrom, $event.id)"
              [valueToDefoult]="rangeTo"
            ></matbea-combo>
          </span>
        
      <div  style="display: inline-grid">
        <span class="selected-number">{{selectedRows.length}} נבחרו </span>
        <span class="selected-length"> ניתן לבחור עד 47 יחידות בטווח</span>
      </div>

    </div>
    <div class="action-section" >
      <div>
        <span>
          <matbea-button (click)="openHazmanatPinkasim.emit()"> הזמנת פנקסי שוברים </matbea-button>
        </span>
      </div>

      <div>
        <span>
          <matbea-button> עדכון גוש / חלקה / מגרש</matbea-button>
        </span>
      </div>

      <div>
        <span>
          <matbea-menu panelClass="mymy" [items]="items" (clickedItem)="arvuiotAction($event)">
          <matbea-button> טיפול בערבויות </matbea-button>
          </matbea-menu>
          <span class="triangular"></span>

        </span>
      </div>
    </div>
    <div class="close-button">
      <matbea-icon-button
        color="white"
        icon="close"
        (click)="selectedRowsChange.emit([])"
      ></matbea-icon-button>
    </div>
  </div>
</ng-container>
