
<div class="stepperPanelDiv">
    <div class="rowCell">
        
        <span  class="rowCell25 horizontalLayout">
            <matbea-input type="string" lable="שם הפרוייקט בעברית" lablePosition="top" [(value)]="wizardData.shemProyectSagur" maxlength="40" required ></matbea-input>
        </span>

        <span class="spanSeperator rowCell10" ></span>

        <mat-form-field color="warn" class="rowCell25" >

                <mat-label>תאריך הסכם ליווי</mat-label>
                <input matInput [matDatepicker]="picker" [matDatepickerFilter]="heskemLivuyDateFilter" [(ngModel)]="wizardData.taarich8HeskemLivuy" max="8/15/2021" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <span class="spanSeperator rowCell10" style="display: inline-block;"></span>

        <mat-form-field color="warn" class="rowCell25" appearance="none">
            <mat-label>דיוור מכתבי שחרור</mat-label>  <br/>
            <input matInput type="string"  style="display:none;"  required/>
            <matbea-radio-button-tab [dataList]="divurMichtavShichrurButtonsArray" [(value)]="wizardData.kodChevratDivur" (selectedButtonChanged)="divurMichtavShichrurChanged($event)" ></matbea-radio-button-tab>
        </mat-form-field>

    </div>


    <div class="rowCell alignRight">
        
        <span  class="horizontalLayout rowCell25">
            <matbea-input type="string" lable="שם הפרוייקט באנגלית"  lablePosition="top" type="string"   [(value)]="wizardData.shemProyectSagurAng" maxlength="50" required ></matbea-input>
        </span>

        <span class="spanSeperator rowCell10"></span>

       <!-- <mat-form-field color="warn" class="rowCell25">
                <mat-label>מפקח</mat-label>
            <mat-select matInput disableOptionCentering=true [(ngModel)]="wizardData.kodShamaiMefakeach" panelClass="panelClassSelect">
                <mat-option *ngFor="let comboEntry of mefakeachComboBox" [value]="comboEntry.value">
                    {{comboEntry.shortDesc}}
                </mat-option>
            </mat-select>
        </mat-form-field>-->

        <div class="rowCell25 horizontalLayout alignRight"  >
            <matbea-combo lable="מפקח" lablePosition="top" panelClassSelect="rowCell25" (value)="wizardData.kodShamaiMefakeach=$event.id" [options]="mefakeachComboBox" [valueToDefoult]="wizardData.kodShamaiMefakeach"  ></matbea-combo>
        </div>

        <span class="spanSeperator rowCell10"></span>

        <div class="rowCell25 horizontalLayout" >
            <div>
                <matbea-checkbox lable="ערבויות ללא מע''מ" [checked]="wizardData.metegChiyuvMaam == 1" (valueChange)="selectArvuyotChk($event)" ></matbea-checkbox>               
            </div>
            <div>               
                <matbea-checkbox lable="יוקרה" [checked]="wizardData.metegYokra == 1" (valueChange)="selectYokraChk($event)" ></matbea-checkbox>
            </div>
            <div>
                <matbea-checkbox lable="קבוצת רכישה"  [checked]="wizardData.sugYeshutNhlProyect == 1" (valueChange)="selectKvutzatRechishaChk($event)" ></matbea-checkbox>
            </div>
            <div>
                <matbea-checkbox lable="סינדיקציה"  [checked]="wizardData.mtgProyectSagurSdct == 1" (valueChange)="selectSindicatziaChk($event)" ></matbea-checkbox>
            </div>
        </div>

    </div>



    <div class="rowCell noPadding" >
        <mat-form-field color="warn" class="rowCell80" appearance="none" >
            <mat-label >שיטת הליווי</mat-label><br/>
            <input matInput type="string"  style="display:none;"  required/>
            <matbea-radio-button-tab [dataList]="shitatLivuyButtonsArray" [(value)]="wizardData.kodShitatLivuy" (selectedButtonChanged)="selectedShitatLivuyChanged($event)" ></matbea-radio-button-tab>
        </mat-form-field>

    </div>

    <div class="rowCell" noWrap>
        <mat-form-field color="warn" class="rowCell80" appearance="none">
            <form >
                <input matInput style="display:none;"/>
                <mat-error *ngIf="errorMsg!=''">{{ errorMsg }}</mat-error>
           </form>
        </mat-form-field>
    </div>
</div>

<matbea-divider [vertical]='false' style="height: 0em; margin: 0em 0em;"></matbea-divider>

<div class="rowCell ">
    <div  class="rowCell rowCell50 alignLeft" >        
        <matbea-button style="  margin-bottom: 0.5em;" type="matbea-raised" (click)="next();" >הבא</matbea-button>
    </div>
    <div class="rowCell rowCell50 alignRight" >        
        <matbea-button style="  margin-bottom: 0.5em;" type="matbea-raised" (click)="previouse();" >הקודם</matbea-button>
    </div>
</div>
