.radio-group {
    display: flex;
    flex-direction: column;
  }
//   .radio-button {
//     margin: 2%;
//   }

  #container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: nowrap;
    justify-self: start;
}

.containerCol{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.containerColRight{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
