<ng-tamplate *ngIf="!showSuccess else successMassege">
<div class="dialog-title">
    <h1 mat-dialog-title>הוספת שלב</h1>
</div>

<div class="dialog-content">
    <!-- <div class="rowCell noWrap horizontalLayout "> -->

    <div class="shalav-input input-levelId">
            <span>זיהוי שלב</span>
        <mat-form-field>
            <input matInput type="string" (change)="levelId=$event.target.value" [value]="levelId" required />
        </mat-form-field>
    </div>
    <!-- <span class="spanSeperator rowCell10"></span> -->

    <div class="shalav-input input-endDate">
        <span>מועד סיום צפוי ע"פ דוח מפקח</span>
        <mat-form-field>
            <input matInput type="date" (change)="endDate=$event.target.value" [value]="endDate" required />
        </mat-form-field>
    </div>

    <div class="shalav-input input-lastDate">
            <span>מועד אחרון למתן היתר בניה</span>
        <mat-form-field>
            <input matInput type="date" (change)="lastDate=$event.target.value" [value]="lastDate" required />
        </mat-form-field>
    </div>

    <div class="shalav-input input-heiter">
        <span>מועד אחרון למתן היתר בניה</span>
        <matbea-radio-button-tab [dataList]="[{id:'true',description:'כן'},{id:'false',description:'לא'}]"
            (selectedButtonChanged)="heiter=$event"></matbea-radio-button-tab>
    </div>

    <div class="shalav-input input-target">
        <span> ייעוד השלב</span>
        <div class=checkbox-wrapper>
            <div>
                <matbea-checkbox lable="מגורים" (valueChange)="targetChanged(1)"></matbea-checkbox>
            </div>
            <div>
                <matbea-checkbox lable="מסחר" (valueChange)="targetChanged(2)"></matbea-checkbox>
            </div>
            <div>
                <matbea-checkbox lable="משרדים" (valueChange)="targetChanged(3)"></matbea-checkbox>
            </div>
            <div>
                <matbea-checkbox lable="אחר" (valueChange)="targetChanged(4)"></matbea-checkbox>
            </div>
        </div>
    </div>
</div>



<div class="dialog-footer">

    <span class="rowCell25 noWrap">
        <matbea-button size='l' type="mat-stroked" (onClick)="cancel()" textLable="ביטול">ביטול</matbea-button>
    </span>


    <span class="rowCell25 noWrap">
        <matbea-button size='l'  type="mat-stroked" (onClick)="save()" textLable="אישור">אישור</matbea-button>
    </span>

</div>

</ng-tamplate> 
<ng-template #successMassege>
    <div class="dialog-title"> </div>
    <div class="success-content">
        <span class="success-title">השלב נוסף בהצלחה!</span>
        <span class="success-text">תרצה/י להמשיך מכאן להוספה של יחידות?</span>
</div>
<div class="dialog-footer success-footer">
    <matbea-button type="mat-stroked" size='l' (onClick)="cancel()" textLable="לא">
    לא, אוסיף אותן בהמשך
    </matbea-button>

    <matbea-button size='l'  type="mat-stroked" (onClick)="addUnits()" textLable="כן" >
    כן
</matbea-button>

</div>
</ng-template>