<ng-tamplate *ngIf="!showSuccess else successMassege">
    <div class="dialog-title">
        <h1 mat-dialog-title>הוספת שלב</h1>
    </div>

        <form class="dialog-content" *ngIf="shalavForm" [formGroup]="shalavForm">
        <div class="shalav-input input-teurHaShlav">
            <matbea-input type="string" [error-messages]="{required:'שדה זה הוא חובה'}" lable="זיהוי שלב" lablePosition="top" [inputFormControl]="shalavForm.controls.teurHaShlavControl" required ></matbea-input>
        </div>

        <div class="shalav-input input-taarich8SiyumTzafui">
            <matbea-input type="date" lable='מועד סיום צפוי ע"פ דוח מפקח'  [error-messages]="{required:'שדה זה הוא חובה'}"  lablePosition="top" [inputFormControl]="shalavForm.controls.taarich8SiyumTzafuiControl" required ></matbea-input>
        </div>

        <div class="shalav-input input-taarich8HeterBniya">
            <matbea-input type="date" lable="מועד אחרון למתן היתר בניה"  [error-messages]="{required:'שדה זה הוא חובה'}"  lablePosition="top" [inputFormControl]="shalavForm.controls.taarich8HeterBniyaControl" required ></matbea-input>
        </div>

        <div class="shalav-input input-heterBniya">
            <span>קיים היתר בניה</span>
            <matbea-radio-button-tab [dataList]="[{id:'true',description:'כן'},{id:'false',description:'לא'}]"
                (selectedButtonChanged)="heterBniya=$event"></matbea-radio-button-tab>
        </div>

        <div class="shalav-input input-yeud">
            <span> ייעוד השלב</span>
            <div class=checkbox-wrapper>
                <div>
                    <matbea-checkbox lable="מגורים" (valueChange)="yeudChanged('MetegYeudMegurim')"></matbea-checkbox>
                </div>
                <div>
                    <matbea-checkbox lable="מסחר" (valueChange)="yeudChanged('MetegYeudMischar')"></matbea-checkbox>
                </div>
               <div>
                <matbea-checkbox lable="משרדים" (valueChange)="yeudChanged('MetegYeudMisradim')"></matbea-checkbox>
                </div>
                <div>
                    <matbea-checkbox lable="אחר" (valueChange)="yeudChanged(MetegYeudAcher)"></matbea-checkbox>
                </div>
            </div>
        </div>
        </form>

    <div class="dialog-footer">
        <matbea-button size='m' type="matbea-stroked" (click)="cancel()" textLable="ביטול">ביטול</matbea-button>
        <matbea-button size='m' type="matbea-raised" (click)="save()" textLable="אישור">שמירה</matbea-button>
    </div>
</ng-tamplate>

<ng-template #successMassege>
    <div class="dialog-title"> </div>
    <div class="success-content">
        <span class="success-title">השלב נוסף בהצלחה!</span>
        <span class="success-text">תרצה/י להמשיך מכאן להוספה של יחידות?</span>
    </div>
    <div class="dialog-footer success-footer">
        <matbea-button type="matbea-stroked" size='l' (click)="cancel()" textLable="לא">
        לא, אוסיף אותן בהמשך
        </matbea-button>

        <matbea-button size='l'  type="matbea-raised" (click)="addUnits()" textLable="כן" >
            כן
        </matbea-button>

    </div>
</ng-template>