<div style="height: 100%; width: 100%;">
  <matbea-slice-data titel="שלבים">
    <matbea-slice-data-suffix >
      <matbea-button type='matbea-stroked'  (onClick)="openAddShlavimPopup()" >
        + הוספת שלב
     </matbea-button>
    </matbea-slice-data-suffix>
  
    <matbea-slice-data-content style="width:100%">
      <matbea-shlavim *ngIf="$shlavim else noData" [misparProyectSagur]="misparProyectSagur" [$shlavim]="$shlavim"></matbea-shlavim>
    </matbea-slice-data-content>
  </matbea-slice-data>
  
  </div> 

  <ng-template #noData>
<span>טרם הוזנו שלבים</span>
  </ng-template>