<div *ngIf="isDataReady" id="container">

    <div class="containerColRight">
        <matbea-lebel class="form-field-lable-light" id="fromDateMelel">התחייבות לרישום משכנתא מיום</matbea-lebel>
        <mat-form-field color="warn" class="rowCell25" >

            <input matInput [matDatepicker]="picker" 
                [matDatepickerFilter]="mashkantaDateFilter" 
                [(ngModel)]="mashkantaInfoResp.tar8HchvLeRsmMskntDt"
                (dateInput)="dateChange($event)" (dateChange)="dateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>

        <matbea-lebel class="form-field-lable-light" id="fromDateMelel">דרגת המשכנתא</matbea-lebel>
        <matbea-combo lable="" (value)="dargaChange($event)" [options]="valueToSelectStatus" [valueToDefoult]="selectedDarga" >
        </matbea-combo>
        
        <matbea-input [(value)]="mashkantaInfoResp.melelDargatMashkanta" *ngIf="mashkantaInfoResp.teurDargatMsknt != 'ראשונה'"></matbea-input>

    </div>
    <div class="containerColLeft">
        <matbea-lebel class="form-field-lable-light" id="fromDateMelel">מספר תיק / חוזה ברמ"י</matbea-lebel>
        <matbea-input [(value)]="mashkantaInfoResp.mezaheTikRmi"></matbea-input>

    <matbea-lebel class="form-field-lable-light" id="fromDateMelel">סכום ההתחייבות</matbea-lebel>
    <matbea-checkbox        
           [checked]="mashkantaInfoResp.metegHagbala == 1" 
           (value) = "mashkantaInfoResp.metegHagbala" 
           (valueChange) = "hagbalaChecked($event)"
           lable="ללא הגבלת סכום">
    </matbea-checkbox> 
     <br/>

    <matbea-input [(value)]="mashkantaInfoResp.schumHitchayvutMsknt" *ngIf="mashkantaInfoResp.metegHagbala == 0"></matbea-input>

    </div>

</div>