/* You can add global styles to this file, and also import other style files */
@import "libs/matbea-ui-components/assets/nulling.scss";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import  '~material-design-icons/iconfont/material-icons.css';
@import "libs/matbea-ui-components/assets/styles.scss";
.wraper{
  height: 100%;
  width: 100%;
}
pdesks-project-details{
  height: 100%;
  width: 100%;
}


