.yechidot-container {
    .units-input-filter {
        width: 50px;
    }
}
::ng-deep {
    thead {
        tr {
          th{
            text-align: start !important;
          } 
            height: 30px !important;
        }
    }
    .mat-header-cell {
        border: none !important;
    }
}
