<div class="yechidot-container">
<span  *ngIf="!showActionBar" > סה"כ {{dataSource?.length}} יחידות בשלב</span>
<!-- <div class="units-input-filter" ><matbea-input type="number" ></matbea-input></div> -->

<!-- array:<span *ngFor="let i of selectedRows">{{i}},</span> -->
<matbea-action-bar *ngIf="showActionBar" [dataSource$]="dataSource$" [selectedLength]="selectedRows?.length" [arrayLength]="dataSource?.length" (selectedRowsChange)="selectedRowsChange($event)" [selectedRows]="selectedRows"></matbea-action-bar>
<matbea-table (selectedRowsChange)="selectedRowsChange($event)" [selectedRows]="selectedRows" [displayedColumns]="displayedColumns" [dataSource$]="dataSource$" [loading]='loadingTable' ></matbea-table>
</div>