.button-for-table-right{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  min-height: 40px;
}
matbea-filter-chips-wrapper{
  height: 100%;
  width: 60%;
}
