
<pdesks-matbea-hierarchy-combo
    [misparChativa]="misparChativa" (chativaValuefChanged)="chativaChanged($event)" isChativaDisabled="true"
    [misparAgaf]="misparAgaf"       (agaValuefChanged)="agafChanged($event)"        isAgafDisabled="false"
    [kodSector]="kodSector"         (sectorValuefChanged)="sectorChanged($event)"   isSectorDisabled="false"
    [misparMakal]="misparMakal"     (makalValuefChanged)="makalChanged($event)"     isMakalDisabled="false"
    hierarchyLayout="horizontal" >
</pdesks-matbea-hierarchy-combo>

<matbea-create-project-wizard-button></matbea-create-project-wizard-button>

<div>
  misparChativa = {{ misparChativa }}
  misparAgaf = {{ misparAgaf }}
  kodSector = {{ kodSector }}
  misparMakal = {{ misparMakal }}
</div>






<matbea-project-basic-details-container kodMutav="7122078" misparProject="2634"></matbea-project-basic-details-container>


<matbea-cheshbonot-container misparProyectSagur="821" misparBank="12"></matbea-cheshbonot-container>
  
