

<div class="shlavim-details">
  <div class="shlavim-details-header-top">
    <matbea-details-steper [steps]="steps"></matbea-details-steper>
  </div>
  <matbea-project-details-header></matbea-project-details-header>
<div class ='shlavim-details-content'>
  <matbea-yechidot-header  *ngIf='shalav' [shalav]="shalav"></matbea-yechidot-header>
  <matbea-yechidot [misparShalav]="misparShalav" [misparProyectSagur]="misparProyectSagur"></matbea-yechidot>
<!--  
  <matbea-project-basic-details-container [kodMutav]="project.kodMutavBeShovar"
                                          [misparProject]="project.misparProyectSagur"></matbea-project-basic-details-container>

<matbea-shlavim-container [misparProyectSagur]="project.misparProyectSagur"></matbea-shlavim-container>
  <matbea-cheshbonot-container [misparProyectSagur]="project.misparProyectSagur" misparBank="12"></matbea-cheshbonot-container>

  <matbea-amalot-container [projectId]="id"></matbea-amalot-container>


  <matbea-kablanim-container [projectId]="id"></matbea-kablanim-container>


  <matbea-mashkanta-container [projectId]="id"></matbea-mashkanta-container>
 -->
</div>
</div>