<matbea-slice-data titel="נתוני משכנתא">
    <matbea-slice-data-suffix >
    <div *ngIf="!isEditMode">
      <matbea-button type='mat-stroked' icon='edit' (onClick)="changeMode()"></matbea-button>
        </div>
    <div *ngIf="isEditMode">
      <matbea-button type='mat-stroked' icon='save' (onClick)="changeMode() "></matbea-button>
          </div>
    </matbea-slice-data-suffix>

    <matbea-slice-data-content style="width:100%;">
        <matbea-natuney-mashkanta
        [projectId] = "projectId"
        [isEditMode] = "isEditMode"
        [events]="eventsSubject.asObservable()"></matbea-natuney-mashkanta>
      </matbea-slice-data-content>
  </matbea-slice-data>



