
<div class="dialog-title">
    <h1 mat-dialog-title>הוספת יחידה</h1>
</div>
<div class="dialog-content">

     <div class="shalav-input input-unitId">
        <span>זיהוי יחידה</span>
        <mat-form-field>
            <input matInput type="string" (change)="unitId=$event.target.value" [value]="unitId" required />
        </mat-form-field>
    </div>

<div class="shalav-input input-shovi">
        <span>הערכת שווי לפי דוח 0</span>
        <mat-form-field>
            <input matInput type="string" (change)="shovi=$event.target.value" [value]="shovi" required />
        </mat-form-field>
    </div>

   
    <div class="shalav-input input-teur">
        <span>תאור יחידה</span>
        <mat-form-field>
            <input matInput type="string" (change)="teur=$event.target.value" [value]="teur" required />
        </mat-form-field>
    </div>
   
    <div class="shalav-input input-migrash">
       <span>מגרש</span>
       <mat-form-field>
           <input matInput type="string" (change)="migrash=$event.target.value" [value]="migrash" required />
       </mat-form-field>
   </div>

   <div class="shalav-input input-yeud">
    <span>ייעוד היחידה</span>
    <matbea-radio-button-tab [dataList]="yeudDataList"
        (selectedButtonChanged)="yeud=$event"></matbea-radio-button-tab>
</div>

<div class="shalav-input input-hearot">
    <span>הערות</span>
    <matbea-form-field type="textarea" ([value])="hearot" ></matbea-form-field>
</div>
 
<div class="shalav-input gush-chelka">
    <span>פרטי גוש וחלקה</span>
    <matbea-icon-button icon="plus" (onClick)="addLine()"></matbea-icon-button>
</div>
 
</div>

<div class="dialog-footer">
    <matbea-button size='m' type="matbea-stroked" (onClick)="cancel()" textLable="ביטול">ביטול</matbea-button>
    <matbea-button size='m' type="matbea-raised" (onClick)="save()" textLable="אישור">שמירה</matbea-button>
</div>
