<div class="dialog-title">
    <h1 mat-dialog-title>הוספת יחידה</h1>
</div>
<form  class="dialog-content"[formGroup]="yechidaForm">
    <div class="shalav-input input-unitId">
        <matbea-input type="string" lable="זיהוי יחידה" lablePosition="top" [inputFormControl]="yechidaForm.controls.unitId" required></matbea-input>
    </div>

    <div class="shalav-input input-shovi">
        <matbea-input type="string" lable="הערכת שווי לפי דוח 0" lablePosition="top" [inputFormControl]="yechidaForm.controls.shovi" required>
        </matbea-input>
    </div>


    <div class="shalav-input input-teur">
        <matbea-input type="string" lable="תאור יחידה" lablePosition="top" [inputFormControl]="yechidaForm.controls.teur" required></matbea-input>
    </div>

    <div class="shalav-input input-migrash">
        <matbea-input type="string" lable="מגרש" lablePosition="top" [inputFormControl]="yechidaForm.controls.migrash" required></matbea-input>
    </div>

    <div class="shalav-input input-yeud">
        <span>ייעוד היחידה</span>
        <matbea-radio-button-tab [dataList]="yeudDataList" (selectedButtonChanged)="yeud=$event">
        </matbea-radio-button-tab>
    </div>

    <div class="shalav-input input-hearot">
        <span>הערות</span>
        <matbea-form-field type="textarea" [(value)]="hearot"></matbea-form-field>
    </div>
</form>
    <!-- 



        <div class="shalav-input input-target">
            <span> ייעוד השלב</span>
            <div class=checkbox-wrapper>
                <div>
                    <matbea-checkbox lable="מגורים" (valueChange)="targetChanged(1)"></matbea-checkbox>
                </div>
                <div>
                    <matbea-checkbox lable="מסחר" (valueChange)="targetChanged(2)"></matbea-checkbox>
                </div>
               <div>
                <matbea-checkbox lable="משרדים" (valueChange)="targetChanged(3)"></matbea-checkbox>
                </div>
                <div>
                    <matbea-checkbox lable="אחר" (valueChange)="targetChanged(4)"></matbea-checkbox>
                </div>
            </div>
        </div> -->


<div class="dialog-footer">
    <matbea-button size='m' type="matbea-stroked" (onClick)="cancel()" textLable="ביטול">ביטול</matbea-button>
    <matbea-button size='m' type="matbea-raised" (onClick)="save()" textLable="אישור">שמירה</matbea-button>
</div>