

<div class="rowCell" style="    overflow-y: auto;
overflow-x: hidden;
height: 200px;">
    <mat-radio-group  >
    <matbea-table  [displayedColumns]="displayedColumns" [dataSource$]="cheshbonotListObservable$"  (clickInRow)="clickInRow($event)" (selectedRowsChange)="changeArvut($event)"  [(selectedRows)]="selectedRows" loading="false" ></matbea-table>
    </mat-radio-group  >
   
</div>  


<div class="rowCell">
        <mat-form-field class="noPadding rowCell90" appearance="none" >  
            <form >  <!-- [formGroup]="cheshbonFormGroup" -->
                <input matInput type="number" style="display:none;" />
                <mat-error *ngIf="errorMsg!=''" >****{{ errorMsg }}</mat-error>
            </form>
        </mat-form-field>
    </div>

<!--
<div class="rowCell">
    <matbea-button size='l' (onClick)="openHosafatCheshbonPopup()" >הוספת חשבון</matbea-button>
    
</div>
-->

 