<div class="project-basic-details" [ngClass]="editMode?'edit-mode':''">
  <div class='taarih'>
    <div  class="form-field-lable">תאריך הסכם ליווי</div>
    <mat-form-field [appearance]="editMode ? '' : 'none'">
      <input matInput [matDatepicker]="picker" [value]="taarich8HeskemLivuy_" (dateChange)="setTaarich8HeskemLivuy($event)" (dateInput)="setTaarich8HeskemLivuy($event)"
             [disabled]="!editMode">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="mefakeah">
    <matbea-combo lable="מפקח" disabledTransparent="true" lablePosition="top" transparent="true"
                  (value)="setShamaiMefakeach($event)" [options]="mefakeachComboBox_"
                  [valueToDefoult]="project['kodShamaiMefakeach']" [disable]="!editMode"></matbea-combo>
  </div>


  <div class="status">
    <matbea-combo lable="סטטוס" lablePosition="top" transparent="true" disabledTransparent="true"
                  (value)="setStatusBitzua($event)"
                  [options]="statusCombo_" [valueToDefoult]="project['kodStatusAcharon']"
                  [disable]="!editMode"></matbea-combo>
  </div>

  <div class="shitat-livui">
    <div *ngIf="editMode">
      <div class="form-field-lable" style="margin-bottom: 0.5em">שיטת הליווי*</div>
      <matbea-button-toggle [value]="shitatLivuyCombo_ "
                            (valueChangeInToggle)="setKodShitatLivuy($event)" [checked]="project['kodShitatLivuy']"></matbea-button-toggle>
    </div>
    <div *ngIf="!editMode">
      <div class="form-field-lable">שיטת הליווי</div>
      <div style="color: rgba(0,0,0,.38); margin-top: 0.4375em">{{project['teurShitatLivuy']}}</div>
    </div>
  </div>
  <div class="divur">

    <div *ngIf="editMode">
      <div class="form-field-lable" style="margin-bottom: 0.5em">דיוור מכתבי שחרור*</div>
      <matbea-button-toggle [value]="divurMichtavShichrurCombo_"
                            (valueChangeInToggle)="setKodChevratDivur($event)" [checked]="project['kodChevratDivur']"></matbea-button-toggle>

    </div>
    <div *ngIf="!editMode">
      <div class="form-field-lable">דיוור מכתבי שחרור</div>
      <div style="color: rgba(0,0,0,.38); margin-top: 0.4375em">{{project['teurChevratDivur']}}</div>
    </div>


  </div>
  <div class="checkboxs">
    <matbea-checkbox lable=" סינדיקציה" [checked]="project['mtgProyectSagurSdct'] == 1"
                     (valueChange)="project['mtgProyectSagurSdct'] = $event? 1 : 0" [disabled]="!editMode">
    </matbea-checkbox>


    <matbea-checkbox lable=" קבוצת רכישה " [checked]="project['sugYeshutNhlProyect'] == 1"
                     (valueChange)="project['sugYeshutNhlProyect'] = $event? 1 : 0" [disabled]="!editMode">
    </matbea-checkbox>


    <matbea-checkbox lable=" ערבויות ללא מע''מ " [checked]="project['metegChiyuvMaam'] == 1"
                     (valueChange)="project['metegChiyuvMaam']= $event ? 1 : 0" [disabled]="!editMode">
    </matbea-checkbox>


    <matbea-checkbox lable="  יוקרה " [checked]="project['metegYokra'] == 1"
                     (valueChange)="project['metegYokra'] = $event ? 1 : 0" [disabled]="!editMode">
    </matbea-checkbox>
  </div>
  <div class="aizor">
    <matbea-combo lable="איזור" lablePosition="top" disabledTransparent="true"
                  (value)="project['misparEzor']=$event.id"
                  [options]="ezorCombo_" [valueToDefoult]="project['misparEzor']"
                  [disable]="!editMode"></matbea-combo>

  </div>
  <div class="ishuv">
    <!--
   <matbea-input lable="ישוב" [autocomplete]="citiesComboBox_" iconButtomPrefixName="search"
                  lablePosition="top" disabledTransparent="true"
                  [value]="project['teurShemYishuvCds']"
                  (valueChange)="project['teurShemYishuvCds']=$event" [disabled]="!editMode"></matbea-input>
        -->          
        <matbea-matbea-input-cities lable="ישוב" [selectedCity]="project['teurShemYishuvCds']" (selectedCityChanged)="project['teurShemYishuvCds']=$event" (selectedCityIdChanged)="project['misparYishuv']=$event" [disabled]="!editMode" iconButtomPrefixName="search" lablePosition="top" disabledTransparent="true"></matbea-matbea-input-cities>
  </div>
  <div class="karka-proekt">
    <div  *ngIf="editMode">
      <div class="form-field-lable">קרקע פרוייקט*</div>
      <matbea-button-toggle [value]="karkaProyectCombo_" (valueChangeInToggle)="setKarkaProyect($event)" [checked]="project['kodBaalutKarka']"></matbea-button-toggle>
    </div>

    <div *ngIf="!editMode">
      <div class="form-field-lable">קרקע פרוייקט</div>
      <div style="color: rgba(0,0,0,.38); margin-top: 0.4375em">{{project['teurBaalutKarka']}}</div>
    </div>
  </div>
  <div class="aizor-i-sh">
    <matbea-checkbox lable="יהודה ושומרון " [checked]="project['metegGarBaEzor'] == 1"
                     (valueChange)="project['metegGarBaEzor']=$event?1:0" [disabled]="!editMode">
    </matbea-checkbox>
  </div>
  <div class="error">
    <mat-form-field color="warn" appearance="none">
        <input matInput style="display:none;"/>
        <mat-error *ngIf="errorMsg!=''">{{ errorMsg }}</mat-error>
    </mat-form-field>
  </div>


</div>
