<ng-container>
  <matbea-slice-data [class]="class" titel="עמלות">
    <matbea-slice-data-suffix >
      <matbea-shmor-shinui-button shkifut="true" (shinui)="changeMode($event)"></matbea-shmor-shinui-button>
    </matbea-slice-data-suffix>
      
    <matbea-slice-data-content style="width:100%;">      
        <matbea-amalot 
        [projectId] = "projectId" 
        [isEditMode] = "isEditMode"
        [savePrsdEvent]="eventsSubject.asObservable()"
        (okToSwitchMode)="okToSwitchMode($event)"></matbea-amalot>
      </matbea-slice-data-content>
  </matbea-slice-data >
</ng-container>
      
  
  
    


