
<div class="dialog-title">
    <h2 mat-dialog-title>הוספת יחידה/ות</h2>
    <span>פרטים מהנספח להסכם הליווי</span>
</div>
<div class="dialog-content">

     <div class="yechida-input input-unitId">
        <matbea-input type="string" hint="חשוב להזין זיהוי מדויק" [error-messages]="{required:'שדה זה הוא חובה'}" lable="זיהוי יחידה" lablePosition="top" [inputFormControl]="YechidaForm.controls.YachidaIdControl" required ></matbea-input>
    </div>

<div class="yechida-input input-shovi">
        <matbea-input type="string" [error-messages]="{required:'שדה זה הוא חובה'}" lable=" הערכת שווי לפי דוח 0" lablePosition="top" [inputFormControl]="YechidaForm.controls.shoviControl" required ></matbea-input>
    </div>

   
    <div class="yechida-input input-teur">
        <matbea-input type="string" [error-messages]="{required:'שדה זה הוא חובה'}" lable=" תאור יחידה" lablePosition="top" [inputFormControl]="YechidaForm.controls.teurYachidaControl" required ></matbea-input>
    </div>
   
    <div class="yechida-input input-migrash">
       <matbea-input type="string" [error-messages]="{required:'שדה זה הוא חובה'}" lable="מגרש" lablePosition="top" [inputFormControl]="YechidaForm.controls.migrashControl" required ></matbea-input>
    </div>

   <div class="yechida-input input-yeud">
    <span>ייעוד היחידה</span>
    <matbea-radio-button-tab [dataList]="yeudDataList"
        (selectedButtonChanged)="yeud=$event"></matbea-radio-button-tab>
</div>

<div class="yechida-input input-hearot">
    <span>הערות</span>
    <matbea-form-field [leftMessage]="800" type="textarea" ([value])="hearot" ></matbea-form-field>
</div>

<div class="yechida-input gush-chelka">
    <span class="gush-chelka-tilte">פרטי גוש וחלקה <matbea-icon-button icon="add_circle" (onClick)="addLine()"></matbea-icon-button></span>
    <div style="width: 70%; height: 100%;">
    
    <matbea-table [displayedColumns]="displayedColumns" [dataSource$]="gushchelkaDataSource" ></matbea-table> 
    </div>
    <!--  <div>
       <div *ngFor="let row of gushChelkaList">
<span>{{row.misparGush}}</span>:
<span>{{row.teurChelka}}</span>
        </div> 
    </div>-->
</div>
 
</div>

<div class="dialog-footer">
    <matbea-button size='m' type="matbea-stroked" (onClick)="cancel()" textLable="ביטול">ביטול</matbea-button>
    <matbea-button size='m' type="matbea-raised" (onClick)="save()" textLable="אישור">שמירה</matbea-button>
</div>
